<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" >
  <img class="align-self-start" width="120" alt="eroom" src="./assets/logos/eRoom/eRoom-logo-cast.svg"/>

  
</div>


<div class="jumbotron" id="rectangle-13">
  <div class="container">
    <div class="row row-content align-items-center" id="row-0">
      <div class="col align-self-center">
        <h2><strong>Ingresa</strong> el código de tu <strong>Pantalla</strong></h2>  
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col align-self-center">
        <div class="row " id="rectangle-14">
          <div class="col-sm-8">
            <h2 clas>2 A S X 6</h2>
          </div>
          <div class="col align-self-center" id="status">
            <img width="40" alt="eroom" src="./assets/iconos/check-icon.svg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contain">
  <div class="row row-content justify-content-center" id="row-1">
    <div class="col-sm-4">
      <h5>Tus datos están seguros</h5>
      <p>Cast by eRoom te brinda la mayor protección para ti en todos tus dispositivos.</p>
    </div>
    <div class="col-sm">
      <h5>Protegemos tu privacidad</h5>
      <p>No recopilamos tus datos personales ni tu historial de navegación y actividad.</p>
    </div>
    <div class="col-sm">
      <h5>Estabilidad y confiabilidad</h5>
      <p>Utilizamos la tecnología de Google Chromecast para brindarte la mejor confiabilidad.</p>
    </div>
  </div>

  <div class="row row-content" id="row-2">
    <div class="col-md-6 izq pl-5">
      <h4>Así puedes conectarte a eRoom Cast:</h4>
      <p>Conéctate al Wifi del Hotel.</p>
      <p>Escanea El código QR que aparece en la pantalla de tu televisor o abre tu navegador, conéctate a la URL, e introduce el código de validación.</p>
      <p>Pulsa el botón de Cast para compartir tu contenido de su app favorita dentro de las habitaciones o salas de reuniones conectadas a su dispositivo.</p>
    </div>
    <div class="col align-items-center">
      <div class="media align-self-center">
        <img class="d-flex mr-3 tv" width="80%" alt="tv" src="./assets/img/tv.png"/>
      </div>
    </div>
  </div>

   <div class="row row-content" id="row-3">
    <h5 width="100px">¡Con eRoom Cast tienes el control en todo momento!</h5>
    <h6>Aplicaciones compatibles</h6>

    <div class="row">
      <div class="col-sm-4 card">
        <img class="d-flex mr-3 img-trumbnail align-self-center" width="80%" alt="youtube-logo" src="./assets/logos/servicios/youtube-2017-logo.svg"/>
      </div>
      <div class="col-sm-4 card">
        <img class="d-flex mr-3 img-trumbnail align-self-center" width="80%" alt="netflix-logo" src="./assets/logos/servicios/netflix-logo.svg"/>
      </div>
      <div class="col-sm-4 card">
        <img class="d-flex mr-3 img-trumbnail align-self-center" width="80%" alt="disney-plus-logo" src="./assets/logos/servicios/disney-plus-logo.svg"/>
        
      </div>
      <div class="col-sm-4 card">
        <img class="d-flex mr-3 img-trumbnail align-self-center" width="80%" alt="hbo-go-logo" src="./assets/logos/servicios/hbo-go-logo.svg"/>
        
      </div>
      <div class="col-sm-4 card">
        <img class="d-flex mr-3 img-trumbnail align-self-center" width="80%" alt="spotify-logo" src="./assets/logos/servicios/spotify-logo.svg"/> 
      </div>
      <div class="col-sm-4 card">
        <img class="d-flex mr-3 img-trumbnail align-self-center" width="80%" alt="amazon-prime-logo" src="./assets/logos/servicios/amazon-prime-logo.png"/>
      </div>

      <h5>Función Screen Mirroring para compartir contenidos desde dispositivos móviles con la TV</h5>
      <h6>¡Entre muchas opciones más!</h6>
    </div>
  </div>
  <footer class="align-items-center">
    <p class="align-self-center">Powered by: Jacidi.com</p>
  </footer>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>